.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}

.footer__column-link + .footer__column-link {
  margin-top: 10px;
}

.footer__column-link:hover {
  opacity: .75;
}
