.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  overflow: hidden;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
}

.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 1;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  opacity: .75;
}

.header__main-illustration {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  display: block;
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  animation: rotation 20s infinite linear;
}
