.video {
  margin-top: 100px;
}

.video__iframes {
  margin: 50px auto -40px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border-width: 0;
}
